/nbproject/private/
/ex_starts/ch02_ex1/nbproject/private/
/ex_starts/ch02_ex2/nbproject/private/
/ex_starts/ch04_ex1/nbproject/private/
/ex_starts/ch05_ex1/nbproject/private/
/ex_starts/ch06_ex1/nbproject/private/
/ex_starts/ch06_ex2/nbproject/private/
/ex_starts/ch06_ex3/nbproject/private/
/ex_starts/ch07_ex1/nbproject/private/
/ex_starts/ch07_ex2/nbproject/private/
/ex_starts/ch08_ex1/nbproject/private/
/ex_starts/ch08_ex2/nbproject/private/
/ex_starts/ch09_ex1/nbproject/private/
/ex_starts/ch09_ex2/nbproject/private/
/ex_starts/ch10_ex1/nbproject/private/
/ex_starts/ch11_ex1/nbproject/private/
/ex_starts/ch12_ex1/nbproject/private/
/ex_starts/ch12_ex2/nbproject/private/
/ex_starts/ch13_ex1/nbproject/private/
/ex_starts/ch14_ex1/nbproject/private/
/ex_starts/ch15_ex1/nbproject/private/
/ex_starts/ch15_ex2/nbproject/private/
/ex_starts/ch19_ex1/nbproject/private/
/ex_starts/ch20_ex1/nbproject/private/
/ex_starts/ch21_ex1/nbproject/private/
/ex_starts/ch21_ex2/nbproject/private/
/ex_starts/ch22_ex1/nbproject/private/
/ex_starts/ch23_ex1/nbproject/private/
/ex_starts/ch24_ex2/nbproject/private/